body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(175, 157, 199);
    margin: 0;
    padding: 20px;
}

#game-container {
    margin: 20px auto;
    width: 600px;
    height: 600px;
    border: 2px solid #333;
    background-color: #fff;
}

canvas {
    background-color: #eee;
    display: block;
    margin: auto;
}

.controls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
}

/* Joystick layout */
.joystick {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 120px;
    height: 120px;
    justify-content: center;
    position: relative;
}

.joystick .horizontal {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin: 6px 0;
}

.arrow {
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: #2b0764;
    color: #fff;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.arrow:hover {
    background-color: #555555;
}

/* Action buttons layout */
/* Action buttons layout - agora em coluna */
.actions {
    display: flex;
    flex-direction: column; /* Muda para empilhar verticalmente */
    gap: 20px;
    align-items: center; /* Centraliza horizontalmente */
}


/* Individual action buttons */
.action-button {
    padding: 10px 24px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-button:nth-child(1) {
    background-color: #1b0ab3; /* Azul claro - Reiniciar */
}

.action-button:nth-child(1):hover {
    background-color: #5653a5;
}

.action-button:nth-child(2) {
    background-color: #e7810c; /* Roxo - Resolver Auto */
}

.action-button:nth-child(2):hover {
    background-color: #f30808;
}

#status {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: green;
}
